/* HeroSection.css */
.hero {
    background-image: url(./hubDoor.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 200px 0; /* Adjust padding as needed */
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;

}


.hero-button {
    padding: 10px 20px;
    background: linear-gradient(45deg, #7a1e10, #9c1a32);
    background-color: #9c1a32;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
}

.hero-button:hover {
    background-color: linear-gradient(35deg, hsla(349, 71%, 36%, 1), #ff8000);
}
