/* HeroSection.css */
.hero {
    background-image: url(./hubDoor.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 200px 0; /* Adjust padding as needed */
}

.hero-button {
    font-size: 1.3rem;
    font-weight: 700;
    padding: 15px 30px;
    color: white;
    background-color: #9c1a32;
    text-decoration: none;
    border: 2px solid #ffffff;
    cursor: pointer;
    
}
.hero-button:hover {
    background-color: #670b1b;
}


