/* navbar.css */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #333; /* Dark background for the header */
    color: white;
    padding: 10px 0;
}
.navbar {
    background-color: #292b33; /* Background color */
    color: #fff; /* Text color */
    text-align: center; /* Center-align the text */
    font-size: 3.5rem; /* Increase font size */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

.logo img {
    max-width: 100%; /* Ensure the logo image does not exceed its container */
    height: auto; /* Maintain the aspect ratio of the logo image */
}

.nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff7e5f; /* Color change on hover */
}


.signup-button .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: #9c1a32;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.signup-button .button:hover {
    background-color: #b5233e;
}
